.headerContent{
    margin-top: 20px;
    height: fit-content;
    min-height: 98px;
}

.logo{
    font-size: 60px;
    color: white;
}

.logo:hover{
    color: rgb(206, 206, 206);
}

.greetingBox{
    color: white;
    font-size: 20px;
}