@import 'antd/dist/antd.css';

#mainLayout{
  background: linear-gradient(#ffffff, #ffffff);
  background-repeat: no-repeat;
  background-size: cover;
}

.site-card-wrapper{
  border-radius: 10px;
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.clear{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../public/backgrounds/clear.jpg");
}

.partially{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../public/backgrounds/partially.jpg");
}

.cloudy{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../public/backgrounds/cloudy.avif");
}

.rainy{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../public/backgrounds/rainy.PNG");
}

.snowy{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../public/backgrounds/rainy.PNG");
}

.thunderstorm{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../public/backgrounds/thunderstorm.PNG");
}



.ant-card::-webkit-scrollbar {
  display: none;
}

.ant-card{
  padding: 10px;
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.ant-layout-header{
  background: linear-gradient( #93bbf859, #005eac);
}
.ant-layout-footer{
  background-color: #005eac;
}

.favorite-icon:hover{
  width: 43px !important;
}
